@using global::Gantt.Models
@inject IJSRuntime JS

<div class="gantt-container" style="--column-width:@($"{ColumnWidth}px")">
    @foreach (var row in TaskRows)
    {
        <div class="gantt-row">
            @foreach (var task in row.Tasks)
            {
               <Gantt.Pages.Gantt.GanttComponents.TaskComponent Task="task" ColumnWidth="ColumnWidth" />
            }
        </div>
    }
</div>

@code {
    private const int ColumnWidth = 50;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("setColumnWidth", ColumnWidth);
            await JS.InvokeVoidAsync("setupGanttDrag");
        }
    }

    List<TaskRow> TaskRows = new()
    {
        new TaskRow
        {
            Tasks = new List<TaskItem>
            {
                new() { Name = "Task A", ColumnStart = 1, ColumnSpan = 2 },
                new() { Name = "Task B", ColumnStart = 4, ColumnSpan = 3 }
            }
        },
        new TaskRow
        {
            Tasks = new List<TaskItem>
            {
                new() { Name = "Task C", ColumnStart = 0, ColumnSpan = 2 }
            }
        },
        new TaskRow
        {
            Tasks = new List<TaskItem>
            {
                new() { Name = "Task D", ColumnStart = 0, ColumnSpan = 2 }
            }
        }
    };

    
}
